<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Faker API Test Suite">
    <test name="API Automation Tests">
        <classes>
            <class name="com.qa.tests.PositiveTests"/>
            <class name="com.qa.tests.BoundaryTests"/>
            <class name="com.qa.tests.NegativeTests"/>
        </classes>
    </test>
</suite>